.container{
    width: 80%;
}

.first{
    margin-top: 2rem;
}

.text{
    text-align: center;
    color: #333333;
    font-size: 0.8rem;
    margin: 0.3rem 0;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.link_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 2rem;

}

/* .link_container{
    margin-bottom: 1rem;
} */

.link{
    text-align: center;
    color: #333333;
    font-size: 0.8rem;
    transition: all 0.3s ease;
    background: none;
    border: none;
    cursor: pointer;
    margin-bottom: 1rem;
}

.highligt{
    color: #00A342;
}

.link :hover{
    opacity: 0.7;
}


@media (min-width: 768px) {


    .text {
        font-size: 1.2rem;
    }
    .link{
        font-size: 1.2rem;
    }
    .link_container{
        margin-bottom: 1rem;
    }
}