.header_container {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #fff;
    animation: fadeIn 0.5s ease-in-out forwards;
}

.logo_image_container{
    margin: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
