.carouselContainer {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carouselItem {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.carouselItemTitle {
  font-size: 2rem;
}
