.carouselContainer {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carouselItem {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.carouselItemTitle {
  font-size: 2rem;
}

@media (max-width: 500px) {
  .carouselItem {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}
