.mapWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
  margin-top: 3rem;
  opacity: 0;
  transition: all 1s ease;
}

.mapHeader {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  text-align: center;
}

.mapHeaderTitle {
  font-size: 1.875rem;
}

.mapHeaderSubtitle {
  font-size: 1.5rem;
  color: #525252;
}

.mapContainer {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  overflow: hidden;
  width: 70%;
  height: 60vh;
  border: 1.5px solid rgb(217 217 217);
}

.mapSource {
  width: 100%;
  height: 100%;
  background-color: rgb(251 251 251);
}

.mapDescription {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  border-top: 1.5px solid rgb(217 217 217);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: rgb(251 251 251);
}

.mapDescription span {
  color: rgb(0 163 66);
  font-weight: bold;
  font-size: 1.3rem;
  line-height: 1.75rem;
  letter-spacing: -1.5px;
}

.mapDescription p {
  font-size: 1.1rem;
  letter-spacing: -1.5px;
}

.mapWrapper.animation {
  opacity: 1;
}

@media (max-width: 500px) {
  .mapDescription span {
    font-size: 1.2rem;
  }

  .mapDescription p {
    font-size: 0.9rem;
  }
}
