.carousel .slide {
  display: grid;
  justify-items: center;
}

.carousel .control-dots {
  display: flex;
  justify-content: center;
}

.carousel-root {
  max-width: 85%;
}

.carousel .control-dots {
  bottom: auto;
  position: inherit;
  display: flex;
}

.carousel .control-dots .dot {
  box-shadow: none;
  background: #e0e1db;
}

.carousel .control-dots .dot.selected,
.carousel .control-dots .dot:hover {
  background-color: #00a342;
  transform: scale(1.2);
}
