.banner_image_container {
    width: 100vw;
    height: auto;
    min-height: 100vh;
    background-image: url('/Images/BannerImage.jpeg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    animation: fadeIn 0.5s ease-in-out forwards;
}

.banner_image_container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;

}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}