.description_container {
    position: absolute;
    bottom: 5%;
    left: 1.5rem;
    right: 1.5rem; 
    color: #fff;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    animation: fadeIn 1s ease-in-out forwards;
}

.wrapper{
    position: relative;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}