.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    border: 1px solid #E5E5E5;
    border-radius: 1rem;
}

.card{
    width: 100%;
}